.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.pink {
    background-color: #fc5daa;
}

.pink-text {
    color: mediumspringgreen;
}

.blue {
    background-color: #1b31f7;
}

.blue-text {
    color: whitesmoke;
}